[submodule ".vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/pinnacle"]
	path = vim/bundle/pinnacle
	url = https://github.com/wincent/pinnacle.git
[submodule "nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/dart-vim-plugin"]
	path = vim/bundle/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule ".vim/bundle/vim-signify"]
	path = vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/bundle/vim-projectionist"]
	path = vim/bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/bundle/nvim-yarp"]
	path = vim/bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "vim/bundle/vim-hug-neovim-rpc"]
	path = vim/bundle/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/neoformat"]
	path = vim/bundle/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "vim/bundle/dartlang-snippets"]
	path = vim/bundle/dartlang-snippets
	url = https://github.com/natebosch/dartlang-snippets.git
[submodule "vim/bundle/yats.vim"]
	path = vim/bundle/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "vim/bundle/seoul256.vim"]
	path = vim/bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
