[submodule ".vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/pinnacle"]
	path = vim/bundle/pinnacle
	url = https://github.com/wincent/pinnacle.git
[submodule "nerdcommenter"]
	path = vim/bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/dart-vim-plugin"]
	path = vim/bundle/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "vim/bundle/vim-projectionist"]
	path = vim/bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/bundle/nvim-yarp"]
	path = vim/bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "vim/bundle/vim-hug-neovim-rpc"]
	path = vim/bundle/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "vim/bundle/dartlang-snippets"]
	path = vim/bundle/dartlang-snippets
	url = https://github.com/natebosch/dartlang-snippets.git
[submodule "vim/bundle/yats.vim"]
	path = vim/bundle/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "vim/bundle/seoul256.vim"]
	path = vim/bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule ".tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/bundle/vim-prettier"]
	path = vim/bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "vim/bundle/coc.nvim"]
	path = vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "vim/bundle/nvim-lspconfig"]
	path = vim/bundle/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "vim/bundle/vim-lsc"]
	path = vim/bundle/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "vim/bundle/vim-lsc-dart"]
	path = vim/bundle/vim-lsc-dart
	url = https://github.com/natebosch/vim-lsc-dart.git
[submodule "vim/bundle/vim-cpp-modern"]
	path = vim/bundle/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern.git
[submodule "vim/bundle/vim-vsnip"]
	path = vim/bundle/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "vim/bundle/vim-vsnip-integ"]
	path = vim/bundle/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
[submodule "vim/bundle/vim-oscyank"]
	path = vim/bundle/vim-oscyank
	url = https://github.com/ojroques/vim-oscyank
[submodule "vim/bundle/nvim-treesitter"]
	path = vim/bundle/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "vim/bundle/gruvbox.nvim"]
	path = vim/bundle/gruvbox.nvim
	url = https://github.com/ellisonleao/gruvbox.nvim.git
[submodule "vim/bundle/plenary.nvim"]
	path = vim/bundle/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "vim/bundle/telescope.nvim"]
	path = vim/bundle/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "vim/bundle/telescope-fzy-native.nvim"]
	path = vim/bundle/telescope-fzy-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzy-native.nvim.git
[submodule "vim/bundle/lush.nvim"]
	path = vim/bundle/lush.nvim
	url = https://github.com/rktjmp/lush.nvim.git
[submodule "vim/bundle/nvim-cmp"]
	path = vim/bundle/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "vim/bundle/cmp-nvim-lsp"]
	path = vim/bundle/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "vim/bundle/vim-gh-line"]
	path = vim/bundle/vim-gh-line
	url = https://github.com/ruanyl/vim-gh-line
[submodule "vim/bundle/aerial.nvim"]
	path = vim/bundle/aerial.nvim
	url = https://github.com/stevearc/aerial.nvim.git
[submodule "vim/bundle/vgit.nvim"]
	path = vim/bundle/vgit.nvim
	url = https://github.com/tanvirtin/vgit.nvim.git
[submodule "vim/bundle/vim-graphql"]
	path = vim/bundle/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
